/* Place your CSS styles in this file */
 h1 {text-align: center;
    color: powderblue;
    font-family: Copperplate, Papyrus, fantasy;
 }

ul { color: indigo;
    list-style-type: none;
    border: 10px solid powderblue;
    background-color: azure;
    text-align: center;
}

a {text-align: center;}
 
li { display: inline;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
    font-family: Copperplate, Papyrus, fantasy;
}

 h3 { text-align: center;
      color: whitesmoke;
 }

marquee { text-align: center;
          color: rgb(228, 228, 255);

}

p { text-align: left;
  color: rgb(246, 246, 254);
} 

#p2 { text-align: right;
    color: rgb(254, 255, 255);
}

#p3 { text-align: left;
color: rgb(250, 245, 247);
}


body { background-color: midnightblue;
        border-radius: 15%;
}

